In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.metrics.pairwise import cosine_similarity
from fastapi import FastAPI
import uvicorn
from sklearn.metrics.pairwise import linear_kernel

In [2]:
df = pd.read_csv('DataSet.csv')

In [3]:
app = FastAPI()

In [4]:
new_df = df.copy()

In [5]:
new_df['Rating'].fillna(new_df['Rating'].mean(), inplace=True)
new_df['Review Count'].fillna(new_df['Review Count'].mean, inplace=True)
new_df['Prerequisites'].fillna("No Prerequisites Required",inplace=True)
new_df['Affiliates'].fillna("None",inplace=True)
new_df['Level'].fillna("beginner",inplace=True)

C:\Users\anany\AppData\Local\Temp\ipykernel_49032\353552095.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '<bound method Series.mean of 0      1802.0
1       864.0
2      1126.0
3      2649.0
4      1212.0
        ...
262       NaN
263       NaN
264       NaN
265       NaN
266       NaN
Name: Review Count, Length: 267, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  new_df['Review Count'].fillna(new_df['Review Count'].mean, inplace=True)

In [6]:
new_df.isnull().sum()

Title             0
Type              0
Description       6
Level             0
Duration          4
Rating            0
Review Count      0
Skills Covered    0
Prerequisites     0
Affiliates        0
URL               0
dtype: int64

In [13]:
new_df.head(15)

,Title,Type,Description,Level,Duration,Rating,Review Count,Skills Covered,Prerequisites,Affiliates,URL
0,Data Engineering with AWS,nanodegree,"Learn to design data models, build data wareho...",intermediate,4 Months,4.6,1802.0,"AWS Glue, Amazon S3, AWS Data Warehouse, Re...","Intermediate Python, intermediate SQL & comman...",None,https://www.udacity.com/course/data-engineer-n...
1,Product Manager,nanodegree,Envision and execute the development of indust...,beginner,4 Months,4.7,864.0,"Product Strategy, Product Design, Product Deve...",No Experience Required,None,https://www.udacity.com/course/product-manager...
2,C++,nanodegree,Get hands-on experience building five real-wor...,intermediate,4 Months,4.5,1126.0,"Data Structures & Algorithms, Memory Managemen...",Intermediate Programming,None,https://www.udacity.com/course/c-plus-plus-nan...
3,Business Analytics,nanodegree,Gain foundational data skills like analyzing d...,beginner,3 Months,4.8,2649.0,"Excel & Spreadsheets, SQL, Data Visualization,...",No Prerequisites Required,Mode,https://www.udacity.com/course/business-analyt...
4,Data Scientist,nanodegree,"Build effective machine learning models, run d...",advanced,4 Months,4.7,1212.0,"Machine Learning, Deep Learning, Software Engi...","Python, SQL & Statistics","Bertelsmann, Figure Eight, IBM Watson, Insight...",https://www.udacity.com/course/data-scientist-...
5,Introduction to Programming,nanodegree,A first step for beginners towards careers in ...,beginner,4 Months,4.7,3865.0,"Front-End Development Basics, HTML, CSS, Py...",No coding experience needed,None,https://www.udacity.com/course/intro-to-progra...
6,Digital Marketing,nanodegree,Meet the growing demand for skilled digital ma...,beginner,3 Months,4.7,2418.0,"Digital Marketing, Marketing fundamentals, G...",No Experience Required.,None,https://www.udacity.com/course/digital-marketi...
7,Data Analyst,nanodegree,"Use Python, SQL, and statistics to uncover ins...",intermediate,4 Months,4.6,3496.0,"Data Wrangling, Matplotlib, Bootstrapping, Pan...",Python & SQL,Kaggle,https://www.udacity.com/course/data-analyst-na...
8,Deep Learning,nanodegree,Deep learning is driving advances in artificia...,intermediate,4 Months,4.7,3368.0,"Neural Networks, Perceptron, Autoencoders, ...",Intermediate Python,None,https://www.udacity.com/course/deep-learning-n...
9,Programming for Data Science with Python,nanodegree,Learn the fundamental programming tools for da...,beginner,3 Months,4.7,1558.0,"Python, Numpy & Pandas, SQL, Git & GitHub",No Prerequisites Required,Mode,https://www.udacity.com/course/programming-for...
10,Full Stack Web Developer,nanodegree,Learn to design and develop powerful modern we...,intermediate,4 Months,4.5,749.0,"Python, JavaScript, PostgreSQL, Flask, Docker,...","Prior experience with Python, CSS/HTML, and Git",None,https://www.udacity.com/course/full-stack-web-...
11,AWS Machine Learning Engineer,nanodegree,Learn the data science and machine learning sk...,intermediate,5 Months,4.7,143.0,"Feature Engineering, Machine Learning Fluency...",Basic knowledge of machine learning algorithms...,AWS,https://www.udacity.com/course/aws-machine-lea...
12,SQL,nanodegree,"Master SQL, the core language for big data ana...",beginner,2 Months,4.6,339.0,"SQL, PostgreSQL, JOINs, Subqueries, Window Fun...",Basic understanding of data types,None,https://www.udacity.com/course/learn-sql--nd072
13,Machine Learning DevOps Engineer,nanodegree,Gain the DevOps skills required to automate th...,advanced,4 Months,4.6,115.0,"API development, Automated model scoring, CI...",Prior experience with Python and Machine Learning,None,https://www.udacity.com/course/machine-learnin...
14,Artificial Intelligence for Trading,nanodegree,Complete real-world projects designed by indus...,intermediate,6 Months,4.6,789.0,"Momentum Trading Strategy, Smart Beta, Alpha F...",Python & Mathematics,WorldQuant,https://www.udacity.com/course/ai-for-trading-...

In [8]:
new_df_2 = new_df[['Title','Level','Prerequisites','Skills Covered']]
new_df_2.head()

,Title,Level,Prerequisites,Skills Covered
0,Data Engineering with AWS,intermediate,"Intermediate Python, intermediate SQL & comman...","AWS Glue, Amazon S3, AWS Data Warehouse, Re..."
1,Product Manager,beginner,No Experience Required,"Product Strategy, Product Design, Product Deve..."
2,C++,intermediate,Intermediate Programming,"Data Structures & Algorithms, Memory Managemen..."
3,Business Analytics,beginner,No Prerequisites Required,"Excel & Spreadsheets, SQL, Data Visualization,..."
4,Data Scientist,advanced,"Python, SQL & Statistics","Machine Learning, Deep Learning, Software Engi..."

In [9]:
vectorizer = TfidfVectorizer()
df_vector = vectorizer.fit_transform(new_df_2)

In [10]:
similarity = cosine_similarity(df_vector)

In [11]:
def recommend(user_preferences, new_df_2):
  new_df_2['features'] = new_df_2['Title'] + ' ' +  new_df_2['Level'] + ' ' +  new_df_2['Prerequisites'] + ' ' + new_df_2['Skills Covered']
  vectorizer = TfidfVectorizer(stop_words='english')
  course_matrix = vectorizer.fit_transform(new_df_2['features'])
  cosine_similarities = linear_kernel(course_matrix, course_matrix)
  user_course_index = new_df_2[new_df_2['Title'] == user_preferences]
  similarity_scores = list(enumerate(cosine_similarities[user_course_index]))
  sorted_courses = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
  top_n_recommendations = [(new_df_2.iloc[idx]['Title'], score) for idx, score in sorted_courses[1:]]
  return top_n_recommendations

print(recommend('HTML', new_df_2))

[]

C:\Users\anany\AppData\Local\Temp\ipykernel_49032\1117219696.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_2['features'] = new_df_2['Title'] + ' ' +  new_df_2['Level'] + ' ' +  new_df_2['Prerequisites'] + ' ' + new_df_2['Skills Covered']