In [8]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
df = pd.read_csv('DataSet.csv')

In [10]:
new_df = df.copy()

In [11]:
new_df['Rating'].fillna(new_df['Rating'].mean(), inplace=True)
new_df['Review Count'].fillna(new_df['Review Count'].mean, inplace=True)
new_df['Prerequisites'].fillna("No Prerequisites Required",inplace=True)
new_df['Affiliates'].fillna("None",inplace=True)
new_df['Level'].fillna("beginner",inplace=True)

C:\Users\anany\AppData\Local\Temp\ipykernel_47008\353552095.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '<bound method Series.mean of 0      1802.0
1       864.0
2      1126.0
3      2649.0
4      1212.0
        ...
262       NaN
263       NaN
264       NaN
265       NaN
266       NaN
Name: Review Count, Length: 267, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  new_df['Review Count'].fillna(new_df['Review Count'].mean, inplace=True)

In [12]:
new_df.isnull().sum()

Title             0
Type              0
Description       6
Level             0
Duration          4
Rating            0
Review Count      0
Skills Covered    0
Prerequisites     0
Affiliates        0
URL               0
dtype: int64

In [13]:
new_df.head()

,Title,Type,Description,Level,Duration,Rating,Review Count,Skills Covered,Prerequisites,Affiliates,URL
0,Data Engineering with AWS,nanodegree,"Learn to design data models, build data wareho...",intermediate,4 Months,4.6,1802.0,"AWS Glue, Amazon S3, AWS Data Warehouse, Re...","Intermediate Python, intermediate SQL & comman...",None,https://www.udacity.com/course/data-engineer-n...
1,Product Manager,nanodegree,Envision and execute the development of indust...,beginner,4 Months,4.7,864.0,"Product Strategy, Product Design, Product Deve...",No Experience Required,None,https://www.udacity.com/course/product-manager...
2,C++,nanodegree,Get hands-on experience building five real-wor...,intermediate,4 Months,4.5,1126.0,"Data Structures & Algorithms, Memory Managemen...",Intermediate Programming,None,https://www.udacity.com/course/c-plus-plus-nan...
3,Business Analytics,nanodegree,Gain foundational data skills like analyzing d...,beginner,3 Months,4.8,2649.0,"Excel & Spreadsheets, SQL, Data Visualization,...",No Prerequisites Required,Mode,https://www.udacity.com/course/business-analyt...
4,Data Scientist,nanodegree,"Build effective machine learning models, run d...",advanced,4 Months,4.7,1212.0,"Machine Learning, Deep Learning, Software Engi...","Python, SQL & Statistics","Bertelsmann, Figure Eight, IBM Watson, Insight...",https://www.udacity.com/course/data-scientist-...

In [18]:
new_df_2 = new_df[['Title','Description','Level','Rating','Skills Covered']]
new_df_2.head()

,Title,Description,Level,Rating,Skills Covered
0,Data Engineering with AWS,"Learn to design data models, build data wareho...",intermediate,4.6,"AWS Glue, Amazon S3, AWS Data Warehouse, Re..."
1,Product Manager,Envision and execute the development of indust...,beginner,4.7,"Product Strategy, Product Design, Product Deve..."
2,C++,Get hands-on experience building five real-wor...,intermediate,4.5,"Data Structures & Algorithms, Memory Managemen..."
3,Business Analytics,Gain foundational data skills like analyzing d...,beginner,4.8,"Excel & Spreadsheets, SQL, Data Visualization,..."
4,Data Scientist,"Build effective machine learning models, run d...",advanced,4.7,"Machine Learning, Deep Learning, Software Engi..."