In [16]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.metrics.pairwise import cosine_similarity
from fastapi import FastAPI
from sklearn.metrics.pairwise import linear_kernel

In [17]:
df = pd.read_csv('DataSet.csv')

In [18]:
app = FastAPI

In [19]:
new_df = df.copy()

In [20]:
new_df['Rating'].fillna(new_df['Rating'].mean(), inplace=True)
new_df['Review Count'].fillna(new_df['Review Count'].mean, inplace=True)
new_df['Prerequisites'].fillna("No Prerequisites Required",inplace=True)
new_df['Affiliates'].fillna("None",inplace=True)
new_df['Level'].fillna("beginner",inplace=True)

C:\Users\anany\AppData\Local\Temp\ipykernel_42496\353552095.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '<bound method Series.mean of 0      1802.0
1       864.0
2      1126.0
3      2649.0
4      1212.0
        ...
262       NaN
263       NaN
264       NaN
265       NaN
266       NaN
Name: Review Count, Length: 267, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  new_df['Review Count'].fillna(new_df['Review Count'].mean, inplace=True)

In [21]:
new_df.isnull().sum()

Title             0
Type              0
Description       6
Level             0
Duration          4
Rating            0
Review Count      0
Skills Covered    0
Prerequisites     0
Affiliates        0
URL               0
dtype: int64

In [22]:
new_df.head()

,Title,Type,Description,Level,Duration,Rating,Review Count,Skills Covered,Prerequisites,Affiliates,URL
0,Data Engineering with AWS,nanodegree,"Learn to design data models, build data wareho...",intermediate,4 Months,4.6,1802.0,"AWS Glue, Amazon S3, AWS Data Warehouse, Re...","Intermediate Python, intermediate SQL & comman...",None,https://www.udacity.com/course/data-engineer-n...
1,Product Manager,nanodegree,Envision and execute the development of indust...,beginner,4 Months,4.7,864.0,"Product Strategy, Product Design, Product Deve...",No Experience Required,None,https://www.udacity.com/course/product-manager...
2,C++,nanodegree,Get hands-on experience building five real-wor...,intermediate,4 Months,4.5,1126.0,"Data Structures & Algorithms, Memory Managemen...",Intermediate Programming,None,https://www.udacity.com/course/c-plus-plus-nan...
3,Business Analytics,nanodegree,Gain foundational data skills like analyzing d...,beginner,3 Months,4.8,2649.0,"Excel & Spreadsheets, SQL, Data Visualization,...",No Prerequisites Required,Mode,https://www.udacity.com/course/business-analyt...
4,Data Scientist,nanodegree,"Build effective machine learning models, run d...",advanced,4 Months,4.7,1212.0,"Machine Learning, Deep Learning, Software Engi...","Python, SQL & Statistics","Bertelsmann, Figure Eight, IBM Watson, Insight...",https://www.udacity.com/course/data-scientist-...

In [23]:
new_df_2 = new_df[['Title','Level','Rating','Skills Covered']]
new_df_2.head()

,Title,Level,Rating,Skills Covered
0,Data Engineering with AWS,intermediate,4.6,"AWS Glue, Amazon S3, AWS Data Warehouse, Re..."
1,Product Manager,beginner,4.7,"Product Strategy, Product Design, Product Deve..."
2,C++,intermediate,4.5,"Data Structures & Algorithms, Memory Managemen..."
3,Business Analytics,beginner,4.8,"Excel & Spreadsheets, SQL, Data Visualization,..."
4,Data Scientist,advanced,4.7,"Machine Learning, Deep Learning, Software Engi..."

In [24]:
vectorizer = TfidfVectorizer()
df_vector = vectorizer.fit_transform(new_df_2)

In [25]:
similarity = cosine_similarity(df_vector)

In [26]:
def recommend(user_preferences, new_df_2):
  new_df_2['features'] = new_df_2['Title'] + ' ' +  new_df_2['Level'] + ' ' +  new_df_2['Rating']

  vectorizer = TfidfVectorizer(stop_words='english')
  course_matrix = vectorizer.fit_transform(new_df_2['features'])

  cosine_similarities = linear_kernel(course_matrix, course_matrix)

  user_course_index = new_df_2[new_df_2['Title'] == user_preferences].index[0]

  similarity_scores = list(enumerate(cosine_similarities[user_course_index]))

  sorted_courses = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

  top_n_recommendations = [(new_df_2.iloc[idx]['Title'], score) for idx, score in sorted_courses[1:]]

  return top_n_recommendations

In [27]:
@app.get("/recommendations/{user_preferences}")
async def read_recommendations(user_preferences: str):
    recommendations = recommend(user_preferences, new_df_2)
    formatted_recommendations = [{"course": course, "similarity_score": score} for course, score in recommendations]
    return {"user_preferences": user_preferences, "recommendations": formatted_recommendations}

if __name__ == "__main__":
    import uvicorn
    uvicorn.run(app, host="127.0.0.1", port=8000)

TypeError: FastAPI.get() missing 1 required positional argument: 'path'